Django==5.1.10
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.10
celery==5.4.0
redis==5.0.4
minio==7.2.7
sentence-transformers==3.0.1
faiss-cpu==1.9.0.post1
llama-cpp-python==0.2.79
pypdf==4.2.0
python-docx==1.1.0
beautifulsoup4==4.12.3
python-dotenv==1.0.1
sentry-sdk==2.3.1
gunicorn==22.0.0
whitenoise==6.6.0